/*###################*/
/* ====MAIN PAGE==== */


/* Navigate Bar*/

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    background-color: #c3c3c3;
    border-bottom: 1px solid #eee;
}

.nav-inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.nav-link:hover {
    color: #eb55ff;
}


/* Banner */
.hero {
    width: 100%;
    aspect-ratio: 6.41 / 1; /* adjust based on the given image resolution ratio */
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    line-height: 1.6;
    background-color: #e4e4e4;
}

.container {
    width: 90%;          
    max-width: 1300px; 
    margin: 40px auto;
    padding: 0 15px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile img {
    width: 320px;
    height: auto;
    object-fit: cover;
    border-radius: 0%;
}

h1 {
    margin-bottom: 10px;
}

/* Device Compatible */
@media (max-width: 768px) { 
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile img {
        width: 300px;
    }
}



/*##########################*/
/* ====MATHEMATICS PAGE==== */

.math-hero {
    width: 100%;
    aspect-ratio: 4 / 1; /* adjust based on the given image resolution ratio */
    background-image: url("../images/math_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;
}

.math-title {
    color: white;
    font-size: 128px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 1);
}

.math-container {
    width: 90%;          
    max-width: 1300px;   
    margin: 0 auto;      
}

.math-list {
    margin-top: 40px;
    font-size: 18px;
}



/*#######################*/
/* ====PROJECTS PAGE==== */

.projects-hero {
    width: 100%;
    aspect-ratio: 4 / 1; /* adjust based on the given image resolution ratio */
    background-image: url("../images/projects_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;
}

.projects-title {
    color: white;
    font-size: 128px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 1);
}

.projects-container {
    width: 90%;          
    max-width: 1300px;   
    margin: 0 auto;      
}

.projects-list {
    margin-top: 40px;
    font-size: 18px;
}



/*###################*/
/* ====LIFE PAGE==== */

.life-hero {
    width: 100%;
    aspect-ratio: 4 / 1; /* adjust based on the given image resolution ratio */
    background-image: url("../images/life_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;
}

.life-title {
    color: white;
    font-size: 128px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 1);
}

.life-container {
    width: 90%;          
    max-width: 1300px;   
    margin: 0 auto;      
}

.life-list {
    margin-top: 40px;
    font-size: 18px;
}