.hero {
    width: 100%;
    height: 250px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

.container {
    max-width: 1300px;
    margin: 40px auto;
    padding: 0 15px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile img {
    width: 320px;
    height: auto;
    object-fit: cover;
    border-radius: 0%;
}

h1 {
    margin-bottom: 10px;
}

/* 手机适配 */
@media (max-width: 768px) { 
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile img {
        width: 300px;
    }
}
